<div class="border-top row">
    <div class="col-md-2">
        <%= image_tag post.user.avatar.url, class: "w-100" %>        
    </div>
    <div class="col-md-10">
        <p>
            <strong><%= post.user.name %></strong>
            <span class="text-secondary"><%= post.created_at %></span>
        </p>
        <%= post.body %>
    </div>
</div>